@import url(colors.css);

.btn-base {
    text-decoration: none;
    padding: .375rem .75rem;
    border-radius: .375rem;
}


.btn-base:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: var(--color-primary);
    font-weight: 500;
}

.btn-primary-dark-blue{
    background-color: var(--color-primary);
    color: #fff;
}